html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background: linear-gradient(270deg, #ff6a00, #ee0979);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* Estilo da navbar */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
    background-color: #f8f9fa; /* Cor profissional e neutra */
}



/* Links da navbar */
.nav-link {
    color: #343a40; /* Cor escura para contraste */
    font-weight: bold;
    text-transform: uppercase; /* Aparência moderna */
    padding: 8px 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

    .nav-link:hover {
        color: #007bff; /* Azul moderno ao passar o mouse */
        transform: scale(1.05); /* Efeito leve de ampliação */
    }

/* Brand (logo da navbar) */
.navbar-brand {
    color: #007bff; /* Azul moderno */
    font-weight: bold;
    text-transform: uppercase;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Links empilhados em telas pequenas */
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
